# Python
__pycache__/
*.pyc
*.pyo
*.pyd

firebase_service_account_key.json

# Environment
.env
.venv
.venv/
venv/

# Django
staticfiles/

# System
.DS_Store
Thumbs.db

__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
venv/

# System
.DS_Store
Thumbs.db

config/firebase_service_account_key.json